:root {
    --indigo-color: #A0A0F7;
    --brown-color: #322E18;
    --viridian-color: #668F80;
    --white-color: #FEFFFE;
    --blue-color: #083D77;
    --silver-color: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    


body {
    width: 100%;
    min-height: 100vh;
    background: var(--indigo-color);
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    padding: 0;
    gap: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.511);
}

nav {
    width: 100%;
    background-color: var(--blue-color);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.otter-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    padding: 1rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group input{
    padding: 0.8rem 1.2rem;
    margin-top: 0.6rem 0;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-group input:hover{
    background-color: var(--silver-color);
}

.input-group input:focus-visible{
    outline: 1px solid var(--blue-color);
}

.continue-button button{
    width: 100%;
    margin-top: 2.5 rem;
    border: none;
    background-color: var(--blue-color);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: var(--viridian-color);
}

.continue-button button a {
    color: white;
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
}

@media screen and (max-width: 760px){
    .container{
        width: 90%;
    }

    .otter-profile{
        display: none;
    }

    .form{
        width: 100%
    }

}

@media screen and (max-width: 410px){
    .container{
        width: 90%;
        height: auto;
}
    .form{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 20rem;
        padding-right: 5rem;
    }

}